<h2><%= t '.title' %></h2>

<%= bootstrap_form_for @envelope do |f| %>
  <%= f.alert_message t('fix_errors') %>
  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :name, placeholder: :name %>
      <%= f.text_field :owner_email, placeholder: :notification_email %>
      <%= f.password_field :password, placeholder: :password %>
    </div>
    <div class="col-md-6">
      <%= f.text_area :contents, rows: 20 %>
    </div>
  </div>
  <%= f.primary class: 'btn btn-primary', disable_with: :saving %>
<% end %>
