<h1 class="page-header">
  <%= icon_text 'envelope' %>
  <%= @envelope.name %>
</h1>

<p>
  Notification email: <%= @envelope.owner_email %>
</p>
<pre><%= @envelope.contents %></pre>



<h3>Seals</h3>

<% if @envelope.seals.present? %>
  <table class="table">
    <% @envelope.seals.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <td><code><%= s.formatted_token %></code></td>
        <td><%= s.sealed ? 'Sealed' : 'Broken' %></td>
        <td><%= link_to seal_url(s), s %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No seals</p>
<% end %>

<%= bootstrap_form_for [@envelope, @envelope.seals.build], layout: :inline do |f| %>
  <%= f.text_field :name, placeholder: :name, hide_label: true %>
  <%= f.submit "Add Seal", :disable_with => 'Sealing...' %>
<% end %>

