<h1>
  <%= icon_text 'envelope' %>
  <%= @seal.envelope_name %>
</h1>

<div class="alert alert-success" role="alert">
  <p>
    <%= icon_text 'ok' %>
    The seal <strong><%= @seal.name %></strong> has been broken and <strong><%= @seal.owner_email %></strong> has been notified.
  </p>
</div>


<pre>
  <%= @seal.contents %>
</pre>
