<h1>
  <%= icon_text 'envelope' %>
  <%= @seal.envelope_name %>
</h1>

<div class="alert alert-success" role="alert">
  <p>
    <%= icon_text 'ok' %>
    <%= t('.broken_html', seal_name: @seal.name, notification_email: @seal.owner_email) %>
  </p>
</div>


<pre>
  <%= @seal.contents %>
</pre>
