<h1>
  <%= icon_text 'envelope' %>
  <%= @seal.envelope_name %>
</h1>

<div class="alert alert-warning" role="alert">
  <p>
    <%= icon_text 'lock' %>
    <%= t('.prompt_html', seal_name: @seal.name, notification_email: @seal.owner_email) %>
  </p>
</div>

<%= bootstrap_form_for @opening, url: [@seal, :opening], method: :post, layout: :inline do |f| %>
  <%= f.text_field :token, placeholder: :token, hide_label: true %>
  <%= f.submit class: 'btn btn-primary', disable_with: :opening %>
<% end %>
